@model IT_ASSET.Models.View_req_sd_follow

@{
    ViewBag.Title = "DetailsSD_Print";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Style.css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <p style="text-align:right">Printed: @DateTime.Now.ToShortDateString()</p>
    <div class="container">

        <div class="row bg-faded">
            <div class="col-4 mx-auto text-center">
                <img src="~/Content/img/Logo-01.png" width="120" height="120"> <!-- center this image within the column -->
            </div>
        </div>


        <h2 style="text-align:center;">แบบฟอร์มการขอและยกเลิกสิทธิใช้ระบบ ALFRESCO </h2>
        <hr />
        <div class="col-md-4">
            <b>    เลขเอกสาร  </b>&nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.SD_CODE)&nbsp; &nbsp; &nbsp; &nbsp;
            <b>    สิทธิการใช้งาน  </b>&nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.ALLOW_DESC)&nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-md-4">
            <b>    รหัสพนักงาน   </b>&nbsp; &nbsp; &nbsp; &nbsp;
            <span>
                @Html.DisplayFor(model => model.USER_NO)&nbsp; &nbsp; &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-md-4">
            <b>     ชื่อ-สกุล (ภาษาไทย)   </b>&nbsp; &nbsp; &nbsp; &nbsp;
            <span>
                @Html.DisplayFor(model => model.USER_NAME)&nbsp; &nbsp; &nbsp; &nbsp;
            </span>
            <b>    ชื่อ-สกุล (ภาษาอังกฤษ)  </b>&nbsp; &nbsp; &nbsp; &nbsp;
            <span>
                @Html.DisplayFor(model => model.USER_NAME_EN)&nbsp; &nbsp; &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-md-4">

            <b>    ตำแหน่ง  </b>&nbsp; &nbsp; &nbsp; &nbsp;
            <span>
                @Html.DisplayFor(model => model.USER_POSITION)&nbsp; &nbsp; &nbsp; &nbsp;
            </span>

            <b>      ฝ่าย </b>&nbsp; &nbsp; &nbsp; &nbsp;
            <span>
                @Html.DisplayFor(model => model.USER_DEPARTMENT)&nbsp; &nbsp; &nbsp; &nbsp;
            </span>
            <b>      เบอร์ติดต่อ  </b>&nbsp; &nbsp; &nbsp; &nbsp;
            <span>
                @Html.DisplayFor(model => model.USER_EXTENSION)
            </span>
        </div>
        <hr />
        <table class="table table-bordered">
            <tr style="background-color:antiquewhite">
                <th>Site</th>
                <th>Folder</th>
                <th>สิทธิ</th>
                <th>อนุมัตจากเจ้าของเอกสารแล้ว</th>
                <th>วันที่อนุมัติจากเจ้าของเอกสาร</th>
                <th>หมายเหตุ</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.SD_DRIVE)</td>
                <td>@Html.DisplayFor(model => model.SD_FOLDER)</td>
                <td>@Html.DisplayFor(model => model.AUTH_DESC)</td>
                <td>@Html.DisplayFor(model => model.SD_APPROVE_OWNER)</td>
                <td>@Html.DisplayFor(model => model.SD_APPROVE_OWNER_DATE)</td>
                <td>@Html.DisplayFor(model => model.SD_NOTE)</td>
            </tr>

        </table>
        <div class="container">
            <div class="col-md-12 col-md-12">

                <b>ชื่อผู้แจ้ง</b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.REQUESTER_NAME)&nbsp; &nbsp; &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-md-12 col-md-12">
                <b>วันที่แจ้ง </b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.SD_DATE)&nbsp; &nbsp; &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-md-12 col-md-12">
                <b>เบอร์โทร</b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.REQUESTER_EXTENSION)
                </span>
            </div>
            <br />
            <div class="col-md-12 col-md-12">

                <b>อนุมัติโดย</b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.APPROVE_NAME)&nbsp; &nbsp; &nbsp; &nbsp; (ผู้จัดการฝ่ายขึ้นไป)&nbsp; &nbsp; &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-md-12 col-md-12">
                <b>วันที่แจ้ง </b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.SD_APPROVE_DATE)&nbsp; &nbsp; &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-md-12 col-md-12">
                <b>เบอร์โทร</b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.APPROVE_EXTENSION)
                </span>
            </div>
        </div>
        <hr />
        <div class="container">
            <h4><b> ส่วนนี้เฉพาะฝ่ายเทคโนโลยีสารสนเทศเท่านั้น</b></h4>
            <div class="col-md-12 col-md-12">

                <b>ข้อคิดเห็น</b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.SD_IT_COMMENT)&nbsp; &nbsp; &nbsp; &nbsp; (ผู้จัดการฝ่ายขึ้นไป)&nbsp; &nbsp; &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-md-12 col-md-12">
                <b>ผู้เสนอความคิดเห็น </b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.SD_IT_COMMENTER)&nbsp; &nbsp; &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-md-12 col-md-12">
                <b>ผู้จัดการฝ่าย</b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.SD_IT_MANAGER)
                </span>
            </div>
            <div class="col-md-12 col-md-12">
                <b>วันที่</b>&nbsp; &nbsp; &nbsp; &nbsp;
                <span>
                    @Html.DisplayFor(model => model.SD_IT_DATE)
                </span>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

