@model IT_ASSET.Models.tbl_req_sd

@{
    ViewBag.Title = "Edit";
}

    <h3>อนุมัติโดยผู้จัดการฝ่าย</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.REQ_STATUS, "สถานะของงาน", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownListFor(model => model.REQ_STATUS, new List<SelectListItem>
  {
      new SelectListItem{ Text="ลงทะเบียน",Value="01"},
      new SelectListItem{ Text= "อนุมัติโดยผู้จัดการฝ่าย",Value = "02"}

  }, new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.REQ_STATUS, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.SD_CODE, "เลขที่เอกสาร", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.SD_CODE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.SD_CODE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.USER_NO, "รหัสพนักงานผู้ขอสิทธิ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.USER_NO, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.USER_NO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(model => model.SD_APPROVE_OWNER, "ชื่อผู้อนุมัติ", htmlAttributes: new { @class = "control-label col-md-7" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SD_APPROVE_OWNER, new { htmlAttributes = new { @class = "form-control", @Value = Session["USER_NO"].ToString(), @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.SD_APPROVE_OWNER, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SD_APPROVE_OWNER_DATE, "วันที่อนุมัติ", htmlAttributes: new { @class = "control-label col-md-7" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SD_APPROVE_OWNER_DATE, new { htmlAttributes = new { @class = "form-control", @Value = @DateTime.Now, @readonly = true } })
                @Html.ValidationMessageFor(model => model.SD_APPROVE_OWNER_DATE, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <br />
    

    <div class="form-group">
        @Html.LabelFor(model => model.SD_DATE, "วันที่แจ้ง", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.SD_DATE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.SD_DATE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ALLOW_STATUS, "สิทธิการใช้งาน", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @if (Model.ALLOW_STATUS == "01")
            {
                @Html.DropDownListFor(model => model.ALLOW_STATUS, new List<SelectListItem>
                 {
                     new SelectListItem{ Text="ขอสิทธิ",Value="01"}


                 }, new { @class = "form-control", @readonly = true })
            }
            else if (Model.ALLOW_STATUS == "02")
            {
                @Html.DropDownListFor(model => model.ALLOW_STATUS, new List<SelectListItem>
                {
                    new SelectListItem{ Text="แก้ไขและเพิ่มเติมสิทธิ",Value="02"}
                }, new { @class = "form-control", @readonly = true })
            }
            else if (Model.ALLOW_STATUS == "03")
            {
                @Html.DropDownListFor(model => model.ALLOW_STATUS, new List<SelectListItem>
               {
                   new SelectListItem{ Text="ยกเลิกสิทธิ",Value="03"}
               }, new { @class = "form-control", @readonly = true })
            }

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.REQ_AUTH, "สถานะสิทธิ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @if (Model.REQ_AUTH == "01")
            {
                @Html.DropDownListFor(model => model.REQ_AUTH, new List<SelectListItem>
               {
                   new SelectListItem{ Text="Read",Value="01"}
               }, new { @class = "form-control", @readonly = true })
            }
            else if (Model.REQ_AUTH == "02")
            {
                @Html.DropDownListFor(model => model.REQ_AUTH, new List<SelectListItem>
              {
                  new SelectListItem{ Text="Change",Value="02"}
              }, new { @class = "form-control", @readonly = true })
            }
            else if (Model.REQ_AUTH == "03")
            {
                @Html.DropDownListFor(model => model.REQ_AUTH, new List<SelectListItem>
             {
                 new SelectListItem{ Text="Full",Value="03"}
             }, new { @class = "form-control", @readonly = true })
            }


        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SD_REQUESTER, "ชื่อผู้แจ้ง", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.SD_REQUESTER, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.SD_REQUESTER, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SD_DRIVE, "Site", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.SD_DRIVE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.SD_DRIVE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SD_FOLDER, "Folder", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.SD_FOLDER, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.SD_FOLDER, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SD_NOTE, "หมายเหตุ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.TextAreaFor(model => model.SD_NOTE, htmlAttributes: new { @class = "form-control", @rows = 5, @cols = 30, @readonly = true })
            @Html.ValidationMessageFor(model => model.SD_NOTE, "", new { @class = "text-danger" })
        </div>
    </div>


    <br />
    <div class="form-group">
        <div class="col-md-offset-5 col-lg-12">
            <input type="submit" value="อนุมัติ" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <input type="button" class="btn btn-primary" value="กลับไปหน้ารายการ" onclick="location.href='@Url.Action("Index", "ReqSD")'" />
</div>