@model IPagedList<IT_ASSET.Models.View_req_sd_follow>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "IndexSD";
}

    <h3 style="text-align:center">ติดตามการขอและยกเลิกรหัสผู้ใช้ เพื่อการกำหนดเข้าสู่ Share Drive</h3>
<div class="col-md-12 pull-left" style="font-size:16px;color:red;">
    <input type="button" class="btn  btn-warning" value="Report" onclick="location.href='@Url.Action("Report", "ReqSD")'" />
    <div class="pull-right col-md-12 col-md-6">
        <form class="pull-right" role="search">
            <div class="input-group pull-right">
                @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "เลขที่เอกสาร/รหัสพนักงานผู้ขอสิทธิ/ชื่อผู้ขอสิทธิ/รหัสพนักงานผู้แจ้ง" })
                <div class="input-group-btn">
                    <button class="btn btn-default pull-right" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<table class="table table-bordered table-hover text-nowrap">
    <thead class="headTable" style="background-color:#50575D; color:white">
        <tr>
            <th>
                เลขที่เอกสาร
            </th>
            <th>
                รหัสพนักงานของผู้ขอสิทธิ
            </th>
            <th>
                ชื่อ-สกุลของผู้ขอสิทธิ
            </th>
            <th>วันที่แจ้ง</th>

            <th>
                สิทธิการใช้งาน
            </th>
            <th>
                Site
            </th>
            <th>
                Folder
            </th>
            <th>
                สถานะสิทธิ
            </th>
            <th>
                หมายเหตุ
            </th>

            <th>
                ชื่อผู้แจ้ง
            </th>
            <th>
                ชื่อ-สกุลของผู้อนุมัติจากเจ้าของเอกสาร
            </th>
            <th>
                วันที่ของผู้อนุมัติจากเจ้าของเอกสาร
            </th>

            <th>
                ชื่อ-สกุลผู้อนุมัติ (ผู้จัดการฝ่ายขึ้นไป)
            </th>
            <th>
                วันที่อนุมัติ (ผู้จัดการฝ่ายขึ้นไป)
            </th>
            <th>
                สถานะของงาน
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <a href="@Url.Action("DetailsSD", "ReqSD", new { id = item.SD_CODE })" style="color:black;text-decoration: underline;">  @Html.DisplayFor(modelItem => item.SD_CODE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USER_NO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USER_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SD_DATE)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ALLOW_DESC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SD_DRIVE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SD_FOLDER)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AUTH_DESC)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.SD_NOTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.REQUESTER_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OWNER_POSITION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SD_APPROVE_OWNER_DATE)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.APPROVE_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SD_APPROVE_DATE)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.STA_DESC)
    </td>


</tr>
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("IndexSD", "ReqSD", new { i }))