@model IEnumerable<IT_ASSET.Models.View_inc_status>

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INC_TOPIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INC_REQUESTER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INC_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STA_DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INC_DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INC_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INC_TOPIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INC_REQUESTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INC_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STA_DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INC_DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
