@model IT_ASSET.Models.tbl_incident_case

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_incident_case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INC_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_TOPIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_TOPIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_OPEN_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_OPEN_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_ASSIGN_TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_ASSIGN_TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_CATEGORIES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_CATEGORIES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_PRIORITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_PRIORITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_BILL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_BILL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_BILL_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_BILL_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_OPEN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_OPEN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_DUE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_DUE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_RESOLVE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_RESOLVE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_COST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_COST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_WARANTEE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_WARANTEE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_COMMENTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_COMMENTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_CREATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_CREATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upsize_ts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upsize_ts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HW_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HW_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_CLOSE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_CLOSE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COST_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COST_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_SUBMIT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_SUBMIT_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_ASSIGN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_ASSIGN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COST_SECTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COST_SECTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_CANCEL_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_CANCEL_DATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.INC_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
