@model IT_ASSET.Models.tbl_req_af

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_req_af</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AF_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEM_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEM_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALLOW_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALLOW_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_APPLICANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_APPLICANT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_SITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_SITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_FOLDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_FOLDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_NOTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_NOTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_APPROVE_OWNER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_APPROVE_OWNER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_APPROVE_OWNER_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_APPROVE_OWNER_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_APPROVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_APPROVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_APPROVE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_APPROVE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_OPEN_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_OPEN_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_OPEN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_OPEN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_ASSIGN_TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_ASSIGN_TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_ASSIGN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_ASSIGN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_SUBMIT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_SUBMIT_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_CLOSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_CLOSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_CLOSE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_CLOSE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_BILL_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_BILL_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_BILL_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_BILL_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_COST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_COST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_CREATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_CREATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATE_DATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AF_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
