@model IT_ASSET.Models.View_inc_status

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>View_inc_status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INC_TOPIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_TOPIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STA_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STA_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INC_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INC_DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
