<!DOCTYPE html>
<html>
<head>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Content/bower_components/morris.js/morris.css">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">ระบบคำร้องต่างๆ</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>ระบบแจ้งปัญหา</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "IncStatus")"><i class="fa fa-pencil"></i> <span>ลงทะเบียนการซ่อม</span></a></li>
                    <li><a href="@Url.Action("Index", "Allinc")"><i class="fa fa-info"></i><span>ติดตามปัญหาการซ่อม</span></a></li>
                </ul>
            </li>
            <!-- <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i> <span>ALFRESCO</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ReqAFRegister")"><i class="fa fa-pencil"></i><span>แจ้งขอ/ยกเลิกสิทธิ</span></a></li>
                        <li><a href="@Url.Action("IndexAF", "ReqAFRegister")"><i class="fa fa-info"></i><span>ติดตามขอ/ยกเลิกสิทธิ</span></a></li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i> <span>SHARE DRIVE </span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ReqSD")"><i class="fa fa-pencil"></i> <span>แจ้งขอ/ยกเลิกรหัสผู้ใช้</span></a></li>
                        <li><a href="@Url.Action("IndexSD", "ReqSD")"><i class="fa fa-info"></i><span>ติดตามขอ/ยกเลิกรหัสผู้ใช้</span></a></li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i> <span>PDJMINI02 </span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ReqMini")"><i class="fa fa-pencil"></i> <span>แจ้งขอ/ยกเลิกสิทธิ</span></a></li>
                        <li><a href="@Url.Action("IndexMini", "ReqMini")"><i class="fa fa-info"></i><span>ติดตามขอ/ยกเลิกสิทธิ</span></a></li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-cogs"></i> <span>PDJCOST01 </span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "ReqMini")"><i class="fa fa-pencil"></i> <span>แจ้งขอ/ยกเลิกสิทธิ</span></a></li>
                        <li><a href="@Url.Action("IndexMini", "ReqMini")"><i class="fa fa-info"></i><span>ติดตามขอ/ยกเลิกสิทธิ</span></a></li>
                    </ul>
                </li> -->

            </ul>

        </section>
        </head>
    </html>
