@model IT_ASSET.Models.View_req_af_register

@{
    ViewBag.Title = "Details";
}

<h3 style="text-align:center;">รายละเอียดติดตามการขอสิทธิ ALFRESCO</h3>
<hr />

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>
                <b>เลขที่เอกสาร</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_CODE)
            </td>
        </tr>
        <tr>
            <td>
                <b>รหัสพนักงานของผู้ขอสิทธิ</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.USER_NO)
            </td>
        </tr>

        <tr>
            <td>
                <b>วันที่แจ้ง</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_DATE)
            </td>
        <tr>
            <td>
                <b>สิทธิการใช้งาน</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.ALLOW_DESC)
            </td>

        <tr>
            <td>
                <b>Site</b>
            <td>
                @Html.DisplayFor(model => model.AF_SITE)
            </td>
        <tr>
            <td>
                <b>Folder</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_FOLDER)
            </td>
        <tr>
            <td>
                <b>สถานะสิทธิ</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_STATUS_NAME)
            </td>
        <tr>
            <td>
                <b>หมายเหตุ</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_NOTE)
            </td>
        <tr>
            <td>
                <b>รหัสพนักงานผู้แจ้ง</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_REQUESTER)
            </td>
        </tr>
        <tr>
            <td>
                <b>ชื่อผู้แจ้ง </b>
            </td>
            <td>
                @Html.DisplayFor(model => model.USER_NAME)
            </td>
        </tr>
        <tr>
            <td>
                <b>  เบอร์ผู้แจ้ง </b>
            </td>
            <td>
                @Html.DisplayFor(model => model.USER_EXTENSION)
            </td>
        </tr>



        <tr>
            <td>
                <b>สถานะของงาน</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.STA_DESC)
            </td>
        </tr>


</table>

<div>
    <input type="button" class="btn btn-primary" value="กลับไปหน้ารายการ" onclick="location.href='@Url.Action("Index", "ReqAFRegister")'" />
</div>
