@model IT_ASSET.Models.View_req_af_follow

@{
    ViewBag.Title = "Details";
}

<h3 style="text-align:center;">รายละเอียดติดตามการขอสิทธิ ALFRESCO</h3>
<hr />
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>
                <b>เลขที่เอกสาร</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_CODE)
            </td>
        </tr>
        <tr>
            <td>
                <b>รหัสพนักงานของผู้ขอสิทธิ</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.USER_NO)
            </td>
        </tr>

        <tr>
            <td>
                <b>วันที่แจ้ง</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_DATE)
            </td>
        <tr>
            <td>
                <b>สิทธิการใช้งาน</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.ALLOW_DESC)
            </td>

        <tr>
            <td>
                <b>Site</b>
            <td>
                @Html.DisplayFor(model => model.AF_SITE)
            </td>
        <tr>
            <td>
                <b>Folder</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_FOLDER)
            </td>
        <tr>
            <td>
                <b>สถานะสิทธิ</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_STATUS_NAME)
            </td>
        <tr>
            <td>
                <b>หมายเหตุ</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_NOTE)
            </td>
        <tr>
            <td>
                <b>รหัสพนักงานผู้แจ้ง</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_REQUESTER)
            </td>
        </tr>
        <tr>
            <td>
                <b>ชื่อผู้แจ้ง </b>
            </td>
            <td>
                @Html.DisplayFor(model => model.USER_NAME)
            </td>
        </tr>
        <tr>
            <td>
                <b>  เบอร์ผู้แจ้ง </b>
            </td>
            <td>
                @Html.DisplayFor(model => model.USER_EXTENSION)
            </td>
        </tr>

        <tr>
            <td>
                <b>รหัสพนักงานของผู้อนุมัติจากเจ้าของเอกสาร</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_APPROVE_OWNER)
            </td>
        <tr>
        <tr>
            <td>
                <b>วันที่อนุมัติจากเจ้าของเอกสาร</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_APPROVE_OWNER_DATE)
            </td>
        </tr>
        <tr>
            <td>
                <b>รหัสพนักงานผู้อนุมัติ (ผู้จัดการฝ่ายขึ้นไป)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_APPROVE)
            </td>
        </tr>
        <tr>
            <td>
                <b>วันที่อนุมัติ (ผู้จัดการฝ่ายขึ้นไป)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_APPROVE_DATE)
            </td>
        </tr>
        <tr>
            <td>
                <b>ชื่อ-สกุลพนักงานผู้อนุมัติ (ผู้จัดการฝ่ายขึ้นไป)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.APPROVE_NAME)
            </td>
        </tr>
        <tr>
            <td>
                <b>ตำแหน่งพนักงานผู้อนุมัติ (ผู้จัดการฝ่ายขึ้นไป)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.APPROVE_POSITION)
            </td>
        </tr>
        <tr>
            <td>
                <b>เบอร์ติดต่อภายในพนักงานผู้อนุมัติ (ผู้จัดการฝ่ายขึ้นไป)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.APPROVE_EXTENSION)
            </td>
        </tr>
        <tr>
            <td>
                <b>สถานะของงาน</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.STA_DESC)
            </td>
        </tr>
        <tr>
            <td>
                <b> รหัสพนักงานผู้เปิดงาน(ส่วนไอที)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_OPEN_BY)
            </td>
        </tr>
        <tr>
            <td>
                <b>ชื่อ-สกุลผู้เปิดงาน(ส่วนไอที)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.IT_NAME)
                @Html.DisplayFor(model => model.IT_SURNAME)
            </td>
        </tr>
        <tr>
            <td>
                <b>วันที่เปิดงาน(ส่วนไอที)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_OPEN_DATE)
            </td>
        </tr>
        <tr>
            <td>
                <b>รหัสพนักงานผู้รับงาน(ส่วนไอที)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_ASSIGN_TO)
            </td>
        </tr>
        <tr>
            <td>
                <b> วันที่รับงาน(ส่วนไอที)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.AF_ASSIGN_DATE)
            </td>
        </tr>
        <tr>
            <td>
                <b>ชื่อ-สกุลผู้รับงาน(ส่วนไอที)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.ASSIGN_NAME)
                @Html.DisplayFor(model => model.ASSIGN_SURNAME)

            </td>
        </tr>

</table>
@Html.ActionLink("ย้อนกลับ", "IndexAF", "ReqAFRegister", "ReqAFRegister", new { @class = "btn btn-primary" })
@Html.ActionLink(" Print", "PrintPartialViewToPdf",null, new { id = Model.AF_CODE }, new { target = "_blank", @class ="btn btn-success glyphicon glyphicon-print" })




