@model IT_ASSET.Models.View_req_af_register

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>View_req_af_register</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USER_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_NAME_EN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_NAME_EN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_POSITION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_POSITION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_DEPARTMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_DEPARTMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_EXTENSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_EXTENSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_ROLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALLOW_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALLOW_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALLOW_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALLOW_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_SITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_SITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_FOLDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_FOLDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_STATUS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_STATUS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_STATUS_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_STATUS_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_NOTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_NOTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AF_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AF_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME_EN_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_EN_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSITION_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSITION_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXTENSION_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXTENSION_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROLE_REQUESTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLE_REQUESTER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STA_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STA_DESC)
        </dd>
        <dd>@Html.DisplayFor(model => model.AF_APPROVE)</dd>
        <dd>@Html.DisplayFor(model => model.AF_APPROVE_DATE)</dd>
        <dd>@Html.DisplayFor(model => model.APPROVE_NAME)</dd>
        <dd>
            @Html.DisplayFor(model => model.APPROVE_POSITION)
    </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AF_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
